%nav
  
  %ul
    %li 
      = link_to "Home", root_path
    - if current_user
      %li
        = link_to "Profile", profile_path
      %li
        = link_to "Ask Question", new_question_path
      %li
        = link_to "Logout", user_logout_path
    - else
      %li
        = link_to "Login", user_login_path
      %li
        = link_to "Sign Up", new_user_path
