.container 
  %h1 Welcome New Boots!

  - @questions.each do |question| 
    = question.votes
    = link_to "&#9650;".html_safe, question_upvotes_path(question), :method => :post, :remote => true 
    = link_to "&#9660;".html_safe, question_downvotes_path(question), :method => :post, :remote => true 
    = question.title
    = question.content
    %br
    %br
